*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Playwrite US Trad Guides" ,cursive;
    font-weight: 400;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}